.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to(I18n.t("admin.search_alias.tabs.search_alias"), "#search_alias", data: {toggle: "tab"})


  .tab-content.recipe-admin-tab-content
    #search_alias.tab-pane.active
      .recipe-tab-content
        = render partial: "search_alias", layout: false