<div class="recipe-footer recipe-footer-float">
  <div class="recipe-footer-divider">
    <p>Once-A-Month Meal planning</p>
    <!-- <p>&copy; Erik Littell 2012</p> -->
    <p>Site version 0.0.1 BETA</p>

     This is a stupid addition to the page for the fun of it.
  </div>
</div>