<div class="recipie-footer recipie-footer-float">
  <div class="recipie-footer-divider">
    <p>Once-A-Month Meal planning</p>
    <!-- <p>&copy; Erik Littell 2012</p> -->
    <p>Site version 0.0.1 BETA</p>
  </div>
</div>