.recipe-footer.recipe-footer-float
  .recipe-footer-divider
    %p
      = I18n.t("footer.site_name")
      %br/
      = I18n.t("footer.copyright").html_safe
      %br/
      = I18n.t("footer.version")