<div id="recipe-main-menu" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a id="recipe-button-menu-button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Recipes</a>
      <div id="recipe-button-menu" class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <% if current_user == nil %>
            Not Logged In
          <% else %>
            Logged in as <%= current_user.name %>
            <%
              # <a href="#" class="navbar-link">Username</a>
            %>
          <% end %>
        </p>
        <ul class="nav">
          <li class="active"><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Menu Planner", root_path) %></li>
          <li><%= link_to("Administration", root_path) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="recipe-menu-adjust"></div>
<div>
  <ul>
    <li>This is one item</li>
    <li>This is a second item</li>
    <li>This is again!</li>
  </ul>
</div>