<% if flash.keys.length > 0 %>
  <div class="recipe-error-hidden">
    <div class="alert alert-error recipe-alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong> The following errors have occured:<br />
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>
<% end %>
<%= yield %>