.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.keyword.tabs.keyword"), "#keyword", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.keyword.tabs.aliases"), "#aliases", data: { toggle: "tab" }

  .tab-content.recipe-admin-tab-content
    #keyword.tab-pane.active
      .recipe-tab-content
        = render partial: "keyword", layout: false

    #aliases.tab-pane
      = tab_content @keyword, :search_aliases