// Constants
$footer_height : 60px;
$header_height : 60px;
$combined_height : 120px;

// Sticky footer styles
html,
body,
.recipe-body
{
  height  : 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin  : 0px;
  padding : 0px;
}

/* Wrapper for page content to push down footer */
.recipe-container
{
  position : relative;
  margin   : 0 auto $footer_height;
  overflow : auto;
}

.recipe-menu-adjust
{
  margin-top : $header_height;
}

/* Set the fixed height of the footer here */
.recipe-footer-float
{
  position : absolute;
  bottom   : 0;
  height   : $footer_height;
  width    : 100%;
}

.recipe-footer-static
{
  height : $footer_height;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 979px)
{
  .recipe-menu-adjust
  {
    margin-top : 0px;
  }
}

@media (max-width: 767px)
{
  .navbar-fixed-top,
  .navbar-fixed-bottom
  {
    margin-left  : 0px;
    margin-right : 0px;
  }
}

.recipe-footer-divider
{
  width            : 100%;
  border-top-style : solid;
  border-top-width : 1px;
}

.recipe-tab-content
{
  margin : 20px;
}

.recipe-simple-container
{
  margin  : 0px;
  padding : 0px;
}

.recipe-error-hidden
{
  display: none;
}